@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4" id="baba-headline">Baba Booey</h1>
</div>


<div id="myContainer">
    <div id="myAnimation">
        <button onmouseover="myMove()">Baba Booey</button>
    </div>
</div>

<div id="videoContainer">
    <div id="videoAnimation">
        <iframe onmouseover="videoMove()"" id="music-video" width="560" height="315" src="https://www.youtube.com/embed/kfoJUeyMsOE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
